@charset "UTF-8";
body {
  background: none; }

#wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*leftMenu*/ }
  #wrapper .leftMenu {
    width: 15%;
    background-color: #0076b4; }
    #wrapper .leftMenu .leftMenuArea {
      border-bottom: 1px #ededed solid;
      padding: 6.25px 0; }
      #wrapper .leftMenu .leftMenuArea ul.menuL li {
        padding: 2.5px 50px; }
      #wrapper .leftMenu .leftMenuArea ul.menuL li a {
        display: block;
        color: #fff; }
        #wrapper .leftMenu .leftMenuArea ul.menuL li a:before {
          content: "\f105";
          font-family: 'FontAwesome';
          font-size: 13px;
          margin-right: 5px; }
        #wrapper .leftMenu .leftMenuArea ul.menuL li a:hover {
          text-decoration: none; }
    #wrapper .leftMenu .leftMenuArea img {
      margin: 0 auto;
      display: block;
      padding: 20px; }
    #wrapper .leftMenu .LeftMenuTitle {
      margin: 0 auto;
      display: block;
      padding: 20px;
      font-size: 15.6px;
      color: #fff;
      font-weight: 700; }
      #wrapper .leftMenu .LeftMenuTitle:before {
        content: "\f124";
        font-family: 'FontAwesome';
        margin-right: 10px; }
  #wrapper .rightArea {
    width: 85%;
    background-color: #fff;
    overflow: hidden; }
    #wrapper .rightArea .righTop {
      background-color: #ededed;
      padding: 25px 0;
      box-shadow: 0px 2px 4px #cdcdcd;
      -webkit-box-shadow: 0px 2px 4px #cdcdcd;
      -moz-box-shadow: 0px 2px 4px #cdcdcd;
      -ms-box-shadow: 0px 2px 4px #cdcdcd;
      -o-box-shadow: 0px 2px 4px #cdcdcd;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      #wrapper .rightArea .righTop .backButton, #wrapper .rightArea .righTop .dropdown {
        width: 50%; }
      #wrapper .rightArea .righTop .dropdown {
        text-align: right;
        position: relative; }
        #wrapper .rightArea .righTop .dropdown:after {
          font-family: 'FontAwesome';
          content: "\f0f3";
          color: #007bff;
          padding-right: 20px; }
        #wrapper .rightArea .righTop .dropdown ul.etkinlik {
          display: none;
          position: absolute;
          right: 20px;
          z-index: 10; }
        #wrapper .rightArea .righTop .dropdown:hover ul.etkinlik {
          display: block;
          box-shadow: 0px 2px 4px #cdcdcd;
          -webkit-box-shadow: 0px 2px 4px #cdcdcd;
          -moz-box-shadow: 0px 2px 4px #cdcdcd;
          -ms-box-shadow: 0px 2px 4px #cdcdcd;
          -o-box-shadow: 0px 2px 4px #cdcdcd;
          background-color: #fff; }
          #wrapper .rightArea .righTop .dropdown:hover ul.etkinlik li {
            padding: 12.5px 125px;
            border-bottom: 1px #d1d1d1 solid; }
      #wrapper .rightArea .righTop .backButton:before {
        font-family: 'FontAwesome';
        content: "\f060";
        padding-left: 20px;
        color: #007bff; }
  #wrapper .rightBottom {
    padding: 0 75px; }
    #wrapper .rightBottom .descArea .desContent {
      background: #ededed url("../img/descarea-bg.png") 300px center no-repeat;
      padding: 25px 50px;
      position: relative;
      /* 		#firmaMagazaSec{

			#firmasec, #magazasec{display: none;}
		} */ }
      #wrapper .rightBottom .descArea .desContent .buttons {
        margin-left: 299px;
        padding-top: 12.5px; }
      #wrapper .rightBottom .descArea .desContent .labels {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 6.25px 0; }
        #wrapper .rightBottom .descArea .desContent .labels span.new_Btn {
          cursor: pointer;
          border: 1px #d1d1d1 solid;
          padding: 5px 25px;
          border-radius: 3px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -ms-border-radius: 3px;
          -o-border-radius: 3px;
          background-color: #fff;
          color: #484848;
          font-size: 13px; }
        #wrapper .rightBottom .descArea .desContent .labels .kampanyaAdinput {
          margin: 5px 0; }
      #wrapper .rightBottom .descArea .desContent .labels div {
        width: 100%; }
      #wrapper .rightBottom .descArea .desContent .labels div:first-child {
        max-width: 200px; }
      #wrapper .rightBottom .descArea .desContent .labels input, #wrapper .rightBottom .descArea .desContent select, #wrapper .rightBottom .descArea .desContent textarea {
        border: 1px #d1d1d1 solid;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        background-color: #fff;
        font-size: 13px;
        width: 100%;
        max-width: 300px;
        padding: 6.25px 25px; }
      #wrapper .rightBottom .descArea .desContent textarea {
        max-width: 400px; }
      #wrapper .rightBottom .descArea .desContent .labels #fileinput {
        display: none; }
      #wrapper .rightBottom .descArea .desContent .gorselInfoContent {
        position: absolute;
        top: 47%;
        left: 34%;
        border: 1px #d1d1d1 solid;
        background-color: #fff;
        padding: 12.5px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        transition: 0.5s ease;
        -webkit-transition: 0.5s ease;
        -moz-transition: 0.5s ease;
        -ms-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        font-size: 13px; }
    #wrapper .rightBottom .descArea .descAreaTitle {
      padding: 25px 0;
      padding-left: 25px;
      position: relative; }
      #wrapper .rightBottom .descArea .descAreaTitle:before {
        content: "\f105";
        position: absolute;
        left: 0;
        font-family: 'FontAwesome'; }
    #wrapper .rightBottom .descArea .warn {
      padding: 25px 0 12.5px 0;
      padding-left: 25px;
      position: relative; }
      #wrapper .rightBottom .descArea .warn:before {
        content: "\f06a";
        font-family: 'FontAwesome';
        position: absolute;
        left: 0;
        color: #ec6602; }
      #wrapper .rightBottom .descArea .warn p {
        font-size: 13px; }
      #wrapper .rightBottom .descArea .warn strong {
        color: #ec6602; }
    #wrapper .rightBottom .descText {
      position: relative; }
      #wrapper .rightBottom .descText .descAreaText {
        padding-left: 25px;
        padding-bottom: 25px; }
        #wrapper .rightBottom .descText .descAreaText:before {
          content: "\f105";
          position: absolute;
          left: 0;
          font-family: 'FontAwesome'; }
      #wrapper .rightBottom .descText .desTextContent {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 25px 50px;
        background-color: #ededed; }
        #wrapper .rightBottom .descText .desTextContent .formContainer {
          width: 50%; }
        #wrapper .rightBottom .descText .desTextContent .labels {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          padding: 6.25px 0; }
          #wrapper .rightBottom .descText .desTextContent .labels .submitArea .labelButton {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin-left: 110px; }
            #wrapper .rightBottom .descText .desTextContent .labels .submitArea .labelButton a {
              width: 30px;
              height: 25px;
              display: -webkit-inline-box;
              display: -ms-inline-flexbox;
              display: inline-flex; }
            #wrapper .rightBottom .descText .desTextContent .labels .submitArea .labelButton a:before {
              content: "\f00c";
              font-family: 'FontAwesome';
              display: block;
              width: 41.66667px;
              height: 41.66667px;
              color: #82c600;
              font-size: 26px; }
        #wrapper .rightBottom .descText .desTextContent .labels div {
          width: 100%; }
        #wrapper .rightBottom .descText .desTextContent .labels div:first-child {
          max-width: 130px; }
        #wrapper .rightBottom .descText .desTextContent .labels input, #wrapper .rightBottom .descText .desTextContent textarea {
          border: 1px #d1d1d1 solid;
          border-radius: 3px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -ms-border-radius: 3px;
          -o-border-radius: 3px;
          background-color: #fff;
          font-size: 13px;
          width: 100%;
          max-width: 300px;
          padding: 6.25px 25px; }
        #wrapper .rightBottom .descText .desTextContent textarea {
          resize: none;
          min-height: 150px;
          max-width: 400px; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.st-btn,
.st-btn:after,
.st-btn:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.st-btn {
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 10px 35px;
  margin-bottom: 10px;
  overflow: hidden;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  font-weight: 700; }

.st-btn.disabled {
  cursor: not-allowed;
  opacity: .5;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.st-btn:active:not(.disabled):before {
  display: none; }

.st-btn.st-btn-left:after,
.st-btn.st-btn-right:after {
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-stretch: normal;
  line-height: 1;
  font-family: Material-Design-Iconic-Font;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; }

.st-btn:active,
.st-btn:hover {
  text-decoration: none;
  outline: 0; }

.st-btn:hover:not(.disabled):before {
  z-index: -1;
  width: 100% !important;
  -webkit-transform: none !important;
  transform: none !important; }

.st-btn.st-btn-left:before {
  position: absolute;
  top: 0;
  width: 36px;
  height: 100%;
  content: "";
  background: #fff;
  opacity: .8; }

.st-btn.st-btn-left:after {
  top: 50%;
  font-size: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.st-btn.st-btn-left {
  padding: 10px 35px 10px 51px; }

.st-btn.st-btn-left:before {
  left: 0;
  -webkit-transform: skew(10deg);
  transform: skew(10deg);
  -webkit-transform-origin: 0 100% 0;
  transform-origin: 0 100% 0; }

.st-btn.st-btn-left:after {
  left: 12px;
  content: ""; }

.st-btn.st-btn-right:before {
  position: absolute;
  top: 0;
  width: 36px;
  height: 100%;
  content: "";
  background: #fff;
  opacity: .8; }

.st-btn.st-btn-right:after {
  top: 50%;
  font-size: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.st-btn.st-btn-right {
  padding: 10px 51px 10px 35px; }

.st-btn.st-btn-right:before {
  right: 0;
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  -webkit-transform-origin: 100% 100% 0;
  transform-origin: 100% 100% 0; }

.st-btn.st-btn-right:after {
  right: 12px;
  content: "\f105";
  font-family: 'FontAwesome'; }

.st-btn.st-btn-yellow {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fef63a), to(#eec423));
  background: linear-gradient(#fef63a 0, #eec423 100%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.0901961) 0 1px 2px 0;
  box-shadow: rgba(0, 0, 0, 0.0901961) 0 1px 2px 0; }

.st-btn.st-btn-yellow:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 2px 0;
  box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 2px 0; }

.st-btn.st-btn-yellow:active:not(.disabled) {
  background: #eec423;
  -webkit-box-shadow: none;
  box-shadow: none; }

.st-btn.st-btn-yellow,
.st-btn.st-btn-yellow:active,
.st-btn.st-btn-yellow:hover {
  color: #393939; }

.st-btn.st-btn-yellow::before {
  opacity: .3; }

.st-btn.st-btn-left.st-btn-small:after,
.st-btn.st-btn-right.st-btn-small:after {
  font-size: 18px; }

.st-btn.st-btn-left.st-btn-small:after {
  left: 9px; }

.st-btn.st-btn-small {
  font-size: 14px; }

.st-btn.st-btn-small.st-btn-left {
  padding: 5px 25px 5px 37px; }

.st-btn.st-btn-small.st-btn-right {
  padding: 5px 37px 5px 25px; }

.st-btn.st-btn-small:before {
  width: 26px; }

.st-btn.st-btn-right.st-btn-small:after {
  right: 9px; }

html, body, #page_wrapper {
  height: 100%; }

body {
  background: white url("../img/bg-b.png") no-repeat fixed center top; }

#page_wrapper {
  width: 100%;
  /*page_container*/ }
  #page_wrapper .page_container {
    margin: 0 auto;
    display: block;
    padding: 20px;
    max-width: 1000px;
    /*page_top*/
    /*pagebottom*/ }
    #page_wrapper .page_container .page_top {
      background-color: #ededed;
      width: 100%;
      padding: 12.5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      #page_wrapper .page_container .page_top .filter select {
        border: 1px #d1d1d1 solid;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        background-color: #fff;
        font-size: 13px;
        width: 200px;
        text-align: center;
        padding: 6.25px 25px; }
      #page_wrapper .page_container .page_top .filter:nth-child(1) {
        border-right: 1px #fff solid; }
        #page_wrapper .page_container .page_top .filter:nth-child(1) select {
          margin-right: 41.66667px; }
      #page_wrapper .page_container .page_top .filter:nth-child(2) {
        border-left: 1px #cfcfcf solid;
        border-right: 1px #fff solid; }
        #page_wrapper .page_container .page_top .filter:nth-child(2) select {
          margin: 0 41.66667px; }
      #page_wrapper .page_container .page_top .filter:nth-child(3) {
        border-left: 1px #cfcfcf solid; }
        #page_wrapper .page_container .page_top .filter:nth-child(3) select {
          margin-left: 41.66667px; }
    #page_wrapper .page_container .page_bottom {
      margin-top: 25px;
      background-color: #ededed;
      width: 100%;
      padding: 12.5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 25px;
      display: flex;
      /*boxed*/ }
      #page_wrapper .page_container .page_bottom .marginOn {
        margin: 0 25px; }
      #page_wrapper .page_container .page_bottom .boxed {
        width: 33.33333%;
        position: relative; }
        #page_wrapper .page_container .page_bottom .boxed .boxed_top .verticalArea {
          position: relative;
          overflow: hidden;
          max-height: 200px; }
          #page_wrapper .page_container .page_bottom .boxed .boxed_top .verticalArea .verticalText {
            position: absolute;
            z-index: 999;
            bottom: 13px;
            left: 0;
            width: 100%;
            text-align: center;
            transform: rotate(-10deg) skew(-10deg);
            -webkit-transform: rotate(-10deg) skew(-10deg);
            -moz-transform: rotate(-10deg) skew(-10deg);
            -ms-transform: rotate(-10deg) skew(-10deg);
            -o-transform: rotate(-10deg) skew(-10deg);
            line-height: 1; }
            #page_wrapper .page_container .page_bottom .boxed .boxed_top .verticalArea .verticalText h3 {
              font-weight: 700;
              text-transform: uppercase;
              letter-spacing: -0.5px;
              font-size: 17px;
              margin: 0;
              line-height: 1; }
          #page_wrapper .page_container .page_bottom .boxed .boxed_top .verticalArea .imgClass {
            overflow: hidden; }
            #page_wrapper .page_container .page_bottom .boxed .boxed_top .verticalArea .imgClass img {
              max-width: 100%;
              overflow: hidden; }
            #page_wrapper .page_container .page_bottom .boxed .boxed_top .verticalArea .imgClass:after {
              content: "";
              position: absolute;
              background-color: #fff;
              transform: rotate(-10deg) skew(-10deg);
              -webkit-transform: rotate(-10deg) skew(-10deg);
              -moz-transform: rotate(-10deg) skew(-10deg);
              -ms-transform: rotate(-10deg) skew(-10deg);
              -o-transform: rotate(-10deg) skew(-10deg);
              width: 140%;
              border-top: 5px #ec6602 solid;
              padding: 25px;
              left: -20px;
              top: auto;
              bottom: -30px;
              min-height: 90px; }
        #page_wrapper .page_container .page_bottom .boxed .boxed_bottom .topBlue {
          min-height: 100px;
          background-color: #fff; }
          #page_wrapper .page_container .page_bottom .boxed .boxed_bottom .topBlue:before {
            content: "";
            position: absolute;
            transform: rotate(-10deg) skew(-10deg);
            -webkit-transform: rotate(-10deg) skew(-10deg);
            -moz-transform: rotate(-10deg) skew(-10deg);
            -ms-transform: rotate(-10deg) skew(-10deg);
            -o-transform: rotate(-10deg) skew(-10deg);
            width: 140%;
            padding: 25px;
            left: -20px;
            top: auto; }
        #page_wrapper .page_container .page_bottom .boxed .boxed_bottom .bottomBlue {
          background-color: #fff;
          padding: 25px; }
          #page_wrapper .page_container .page_bottom .boxed .boxed_bottom .bottomBlue .inlineTextBox {
            background-color: #ededed; }
            #page_wrapper .page_container .page_bottom .boxed .boxed_bottom .bottomBlue .inlineTextBox p {
              font-size: 13px;
              text-align: center;
              padding: 12.5px;
              max-height: 150px;
              overflow: auto; }
              #page_wrapper .page_container .page_bottom .boxed .boxed_bottom .bottomBlue .inlineTextBox p span {
                display: block; }
            #page_wrapper .page_container .page_bottom .boxed .boxed_bottom .bottomBlue .inlineTextBox .kampanyatarihi {
              padding-bottom: 12.5px;
              margin: 0;
              border-bottom: 1px #fff solid; }
          #page_wrapper .page_container .page_bottom .boxed .boxed_bottom .bottomBlue .buttonBox a {
            margin: auto;
            width: 100%;
            display: block;
            text-align: center; }

/*page_wrapper*/
/*step2 html*/
.page_block {
  margin-top: 25px;
  padding: 25px;
  background-color: #eeeeee;
  width: 100%; }
  .page_block .topHeader img {
    display: block;
    max-width: 100%; }
  .page_block .bottomContent {
    margin-top: 33.33333px;
    background-color: #fff;
    border: 1px #dcdcdc solid;
    padding: 19.23077px; }
    .page_block .bottomContent .inlineSection {
      font-size: 13px; }
      .page_block .bottomContent .inlineSection .sectionTitle > span {
        color: #0076b4;
        letter-spacing: -0.5px;
        margin-bottom: 10px;
        display: block;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
        font-size: 26px;
        text-transform: capitalize; }
        .page_block .bottomContent .inlineSection .sectionTitle > span:nth-child(1) {
          margin-bottom: 0; }
        .page_block .bottomContent .inlineSection .sectionTitle > span:nth-child(2) {
          font-size: 15.6px;
          font-weight: 300;
          color: #484848;
          text-transform: none; }
      .page_block .bottomContent .inlineSection .infos {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .page_block .bottomContent .inlineSection .infos .boxInfo {
          width: 50%; }
          .page_block .bottomContent .inlineSection .infos .boxInfo .weightSpan {
            font-weight: 700;
            padding-right: 8.33333px; }
        .page_block .bottomContent .inlineSection .infos .boxInfo > div {
          display: block; }
        .page_block .bottomContent .inlineSection .infos .dateCol {
          text-align: right;
          display: block; }
    .page_block .bottomContent .accordion {
      margin-top: 33.33333px; }
      .page_block .bottomContent .accordion .card #headingThree h5.mb-0 button.btn-link {
        color: #0076b4;
        font-weight: 700;
        position: relative; }
        .page_block .bottomContent .accordion .card #headingThree h5.mb-0 button.btn-link:after {
          content: "\f107";
          font-family: 'FontAwesome';
          font-size: 13px;
          margin-right: 5px; }
    .page_block .bottomContent .bottomImg {
      margin-top: 33.33333px; }
    .page_block .bottomContent .card-body {
      font-size: 13px;
      text-align: justify; }
      .page_block .bottomContent .card-body ul li {
        margin: 5px 0;
        list-style-type: circle;
        text-align: justify; }
    .page_block .bottomContent .bottomImg {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .page_block .bottomContent .bottomImg div {
        width: 50%; }
      .page_block .bottomContent .bottomImg .rightImg {
        text-align: right; }
        .page_block .bottomContent .bottomImg .rightImg img {
          display: inline-block;
          margin-right: 0; }

/*step2 html*/



#boxscroll {
  padding: 40px;
  height: 220px;
  width: 300px;
  border: 2px solid #00F;
  overflow: auto;
  margin-bottom:30px;
}
#boxscroll2 {
  padding: 40px;
  height: 120px;
  width: 730px;
  border: 2px solid #F00;
  overflow: auto;
}
#boxscroll3 {
  overflow: hidden;
}
#boxframe {
  position:absolute;
  top:28px;
  left:420px;
  width:400px;
  height:300px;
  overflow:auto;
  border: 2px solid #0F0;
}
#boxscroll4 {
  height: 300px;
  margin-top: 40px;
  background-color: #00FF66;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  padding: 20px;
  color: #006633;
  overflow: auto;
}