html,body,#page_wrapper{height: $fullHeight;}
body{background: white url("../img/bg-b.png") no-repeat fixed center top;}
#page_wrapper{
	width: $fullwidth;
		.page_container{
			@include default-box;
			max-width: $maxWidth;
				.page_top{
							@include hesabim_page;
						.filter{

							select{
border:1px $borderInput solid; @include border-radius; background-color: $white; font-size: $font; width: 200px; text-align: center; padding: $padding1 / 4 $padding1;}
							&:nth-child(1){
								border-right: 1px #fff solid;
								select{margin-right: $size / 12;}
							}
							&:nth-child(2){
								border-left: 1px #cfcfcf solid;
								border-right: 1px #fff solid;
								select{margin:0 $size / 12;}
							}
							&:nth-child(3){
								border-left: 1px #cfcfcf solid;
								select{margin-left: $size / 12;}
							}
						}
				}/*page_top*/
		.page_bottom{
			margin-top: $margin1;
			@include hesabim_page;
			padding: $padding1;
			display: $flex;
			.marginOn{margin: 0 25px;}
			.boxed{
				width: $fullwidth / 3;
				position: relative;
						.boxed_top .verticalArea{
							position: relative;
							overflow: hidden;
							max-height: 200px;
							.verticalText{
								position: absolute;
								z-index: 999;
								bottom: 13px;
								left: 0;
								width: 100%;
								text-align: center;
								@include transform;
								line-height: 1;
										h3{
								font-weight: 700;
								text-transform: uppercase;
								letter-spacing: -0.5px;
								font-size: 17px;
								margin:0;
								line-height: 1;
										}
							}
									.imgClass{
										overflow: hidden;
												img{max-width: 100%; overflow: hidden;}	
																			&:after{content:""; position: absolute; background-color: $white; @include transform; width: $fullwidth * 1.4; border-top: 5px #ec6602 solid; padding: $padding1; left: -20px; top: auto; bottom: -30px; min-height: 90px;}

										} 	

					} 	

					.boxed_bottom{
							.topBlue{
								min-height: 100px;
								background-color: $white;
								&:before{content:""; position: absolute; @include transform; width: $fullwidth * 1.4; padding: $padding1; left: -20px; top: auto;}
							}
							.bottomBlue{
								background-color: $white;
								padding: $padding1;
									.inlineTextBox{
										background-color: $lightgrey;
											p{
												font-size: $font; text-align: center; padding: $padding1 / 2; max-height: 150px;overflow: auto;
																	span{display: block;}
											}
											.kampanyatarihi{
											padding-bottom:$padding1 / 2;
											margin:0;
											border-bottom:1px #fff solid;
											}
									}
									.buttonBox{
										a{margin: auto;width: 100%; display: block; text-align: center}
									}	

							}
					}			
			}/*boxed*/
		}/*pagebottom*/
	}/*page_container*/
}/*page_wrapper*/



/*step2 html*/

.page_block{
			margin-top: $margin1;
			padding: $padding1;
			background-color: #eeeeee;
			width: $fullwidth;
	.topHeader{
		img{
			display: block;
			max-width: $fullwidth;
		}
	}
	.bottomContent{
		margin-top: $size / 15;
		background-color: $white;
		border:1px $step2Border solid;
		padding: $padding1 / 1.3;

		.inlineSection{
			font-size: $font;
			.sectionTitle > span{
				color:#0076b4;
				letter-spacing: -0.5px;
				margin-bottom: $size / 50;
				display: block;
				font-size: $font + 2;
				font-weight: 700;
				text-align: center;
				font-size:$font * 2;
				text-transform: capitalize;
&:nth-child(1){
				margin-bottom: 0;
}
&:nth-child(2){
				font-size: $font * 1.2;
				font-weight: 300;
				color:$koyuGri;
				text-transform: none;

}

			}


			.infos{
				display: $flex;
				.boxInfo{
					width: 50%;
						.weightSpan{
							font-weight: 700;
							padding-right: $padding1 / 3;
						}
				}
					.boxInfo > div{
						display: block;
					}
					.dateCol{
					text-align: right;
					display: block;
					}
			}
		}
			.accordion{

				margin-top: $size / 15;

					.card{
						#headingThree{
								h5.mb-0{
									button.btn-link{
										color:$leftColor;
										font-weight: 700;
										position: relative;
										&:after{
content: "\f107";
font-family: 'FontAwesome';
font-size: 13px;
margin-right: 5px;

										}
									}
								}
						}
					}

			 }
							.bottomImg{margin-top: $size / 15; }

				.card-body{
					font-size:$font;
					text-align: justify;

					ul li{
						margin: 5px 0; 
						list-style-type: circle;
						text-align: justify;
					}
				}
				.bottomImg{
					display: $flex;
							div{
								width: $width2;
							}
								.rightImg{
									text-align: right;
									img{
										display: inline-block;
										margin-right: 0;
									}
								}
							
				}
	}
}





/*step2 html*/





