$fullwidth:100%;
$size:500px;
$leftColor:#0076b4;
$auto:0 auto;
$lightgrey:#ededed;
$step2Border:#dcdcdc;
$white:#fff;
$flex: flex;
$width2: 50%;
$padding1:25px;
$margin1:25px;
$borderInput:#d1d1d1;
$koyuGri: #484848;
$font:13px;
$orange:#ec6602;
$fullHeight:100%;
$maxWidth:1000px; 
$blueDec:#0076b4;
@mixin default-box{
	margin:0 auto;
	display: block;
	padding:20px;
}
@mixin transform{
	transform:rotate(-10deg)skew(-10deg);
	-webkit-transform:rotate(-10deg)skew(-10deg);
	-moz-transform:rotate(-10deg)skew(-10deg);
	-ms-transform:rotate(-10deg)skew(-10deg);
	-o-transform:rotate(-10deg)skew(-10deg);
}
@mixin hesabim_page{
	background-color: $lightgrey;
	width: $fullwidth;
	padding:$padding1 / 2;
	display: $flex;
}
@mixin befores{
	content:"\f105"; position: absolute; left: 0;
}

@mixin fontawesome{
	font-family: 'FontAwesome';

}
@mixin transition{
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;
}
@mixin box-shadow{
box-shadow: 0px 2px 4px #cdcdcd;
-webkit-box-shadow: 0px 2px 4px #cdcdcd;
-moz-box-shadow: 0px 2px 4px #cdcdcd;
-ms-box-shadow: 0px 2px 4px #cdcdcd;
-o-box-shadow: 0px 2px 4px #cdcdcd;
}

@mixin border-radius{
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
}
body{background:none;}
#wrapper{
width: $fullwidth;
display: $flex;
	.leftMenu{
		width: 15%;
		background-color: $leftColor;
			.leftMenuArea{
				border-bottom: 1px $lightgrey solid;
				padding: $padding1 / 4 0;
				ul.menuL li{
					padding:$padding1 / 10 $padding1 * 2;
				}
				ul.menuL li a{
					display: block;
					color:$white;
					&:before{
					content:"\f105"; @include fontawesome; 
					font-size: $font;
					margin-right: 5px;
					}
					&:hover{text-decoration: none;}
				}
			}
			.leftMenuArea img{@include default-box;}
		
	.LeftMenuTitle{
		@include default-box;
			font-size: $font * 1.2;
			color:$white;
			font-weight: 700;
			&:before{content: "\f124"; @include fontawesome; margin-right: 10px;}
	}
	}/*leftMenu*/
.rightArea{
	width: 85%;
	background-color:$white;
	overflow: hidden;
			.righTop{
				background-color: $lightgrey;
				padding: $padding1 0;
				@include box-shadow;
				display: $flex;
					.backButton, .dropdown{width: $width2;}
					.dropdown{
						text-align: right;
						position: relative;
							&:after{
								@include fontawesome; content:"\f0f3"; color:#007bff;padding-right: 20px;
							}
					ul.etkinlik{
						display: none; position:absolute; right: 20px; z-index: 10;
						
					}
					&:hover ul.etkinlik{display:block; @include box-shadow; background-color: $white;
							li{padding:$padding1 / 2 $padding1 * 5; border-bottom:1px $borderInput solid;
							}
							}
					}
					.backButton{&:before{@include fontawesome; content:"\f060"; padding-left: 20px; color:#007bff}}
			}
}
.rightBottom{
	padding: 0 $padding1 * 3;
	.descArea{

		.desContent{

				background: $lightgrey url('../img/descarea-bg.png') 300px center no-repeat;
				padding: $padding1 $padding1 * 2;
				position: relative;
								.buttons{margin-left: 299px;padding-top: $padding1 / 2;}
					.labels{
						display: $flex; padding: $padding1 / 4 0;
													span.new_Btn{cursor: pointer; border: 1px $borderInput solid;padding: $padding1 / 5 $padding1; @include border-radius; background-color:$white;color: $koyuGri; font-size: $font;}
					.kampanyaAdinput{margin:5px 0; }
					}
					.labels div{
						width: $fullwidth;

					}
					.labels div:first-child{max-width: 200px}
					.labels input, select, textarea{border:1px $borderInput solid; @include border-radius; background-color: $white; font-size: $font; width: $fullwidth; max-width: 300px; padding: $padding1 / 4 $padding1; }
					textarea{max-width: 400px;}
					.labels #fileinput{display: none}

					.gorselInfoContent{position: absolute; top:47%; left: 34%; border:1px $borderInput solid; background-color: $white; padding:$padding1 / 2; @include border-radius; @include transition; font-size: $font;}
/* 		#firmaMagazaSec{

			#firmasec, #magazasec{display: none;}
		} */
		}
				.descAreaTitle{
					padding: $padding1 0; padding-left: $padding1 / 1; position: relative;
						&:before{@include befores; @include fontawesome;}
				}
				.warn{
					padding: $padding1 0 $padding1 / 2 0;padding-left: $padding1 / 1; position: relative; 
						&:before{content:"\f06a"; @include fontawesome; position: absolute; left: 0; color:$orange;}
						p{font-size: $font;}
						strong{color:$orange}
				}


			}

.descText{
	position: relative;
		.descAreaText{
			padding-left: $padding1 / 1; padding-bottom: $padding1;
				&:before{@include befores; @include fontawesome;}
		}
		.desTextContent{
			display: $flex;
			padding: $padding1 $padding1 * 2;
				background-color: $lightgrey;
						.formContainer{
							width: $width2;
						}
									.labels{
						display: $flex; padding: $padding1 / 4 0;
				.submitArea{
						.labelButton{
							display: inline-flex;
							justify-content: center;
							margin-left: 110px;
							a{width: 30px;height: 25px;display: inline-flex;}
							a:before{content:"\f00c"; @include fontawesome; display: block; width: $size / 12; height:$size / 12 ; color:#82c600; font-size: $font * 2}
						}
				}
					}
					.labels div{width: $fullwidth}
					.labels div:first-child{max-width: 130px}
					.labels input, textarea{border:1px $borderInput solid; @include border-radius; background-color: $white; font-size: $font; width: $fullwidth; max-width: 300px; padding: $padding1 / 4 $padding1;}
					textarea{resize:none; min-height: 150px; max-width: 400px;}

		}
}

	}

}
